In [1]:
import pandas as pd
import io
import numpy as np
from sklearn import preprocessing 
from sklearn import svm
from sklearn import metrics
import math

In [2]:
df = pd.read_csv("drive/My Drive/Train.csv")

In [3]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [4]:
df.shape

(8523, 12)

In [5]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
df['Item_Weight'] = df['Item_Weight'].fillna(df['Item_Weight'].mean())

In [7]:
Outlet_Size = df['Outlet_Size']
Outlet_Size

0       Medium
1       Medium
2       Medium
3          NaN
4         High
         ...
8518      High
8519       NaN
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [8]:
#df['Outlet_Size'] = [0 if d == 'Small' else 1 if d == 'Medium' else 2 if d =='High' else np.nan for d in Outlet_Size]

In [9]:
from sklearn.impute import SimpleImputer

In [10]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [11]:
df['Outlet_Size'] = df['Outlet_Size'].fillna(df['Outlet_Size'].mode()[0])

In [12]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [13]:
df['Outlet_Size'] = [0 if d == 'Small' else 1 if d == 'Medium' else 2 if d =='High' else np.nan for d in Outlet_Size]

In [14]:
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

In [17]:
df['Item_Type'] = le.fit_transform(df['Item_Type'])
df['Outlet_Identifier'] = le.fit_transform(df['Outlet_Identifier'])
df['Outlet_Location_Type'] = le.fit_transform(df['Outlet_Location_Type'])
df['Outlet_Type'] = le.fit_transform(df['Outlet_Type'])

In [18]:
df

     Item_Identifier  Item_Weight  ... Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...           1          3735.1380
1              DRC01        5.920  ...           2           443.4228
2              FDN15       17.500  ...           1          2097.2700
3              FDX07       19.200  ...           0           732.3800
4              NCD19        8.930  ...           1           994.7052
...              ...          ...  ...         ...                ...
8518           FDF22        6.865  ...           1          2778.3834
8519           FDS36        8.380  ...           1           549.2850
8520           NCJ29       10.600  ...           1          1193.1136
8521           FDN46        7.210  ...           2          1845.5976
8522           DRG01       14.800  ...           1           765.6700

[8523 rows x 12 columns]

In [19]:
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [20]:
ttt = df['Item_Fat_Content']
df['Item_Fat_Content'] = [0 if d == 'Low Fat' or d =='low fat' or d=='LF' else 1 for d in ttt]

In [21]:
df['Item_Fat_Content']

0       0
1       1
2       0
3       1
4       0
       ..
8518    0
8519    1
8520    0
8521    1
8522    0
Name: Item_Fat_Content, Length: 8523, dtype: int64

In [22]:
df

     Item_Identifier  Item_Weight  ...  Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...            1          3735.1380
1              DRC01        5.920  ...            2           443.4228
2              FDN15       17.500  ...            1          2097.2700
3              FDX07       19.200  ...            0           732.3800
4              NCD19        8.930  ...            1           994.7052
...              ...          ...  ...          ...                ...
8518           FDF22        6.865  ...            1          2778.3834
8519           FDS36        8.380  ...            1           549.2850
8520           NCJ29       10.600  ...            1          1193.1136
8521           FDN46        7.210  ...            2          1845.5976
8522           DRG01       14.800  ...            1           765.6700

[8523 rows x 12 columns]